.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Ocultar el checkbox original */
.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

/* Estilo del label (la "pista" del switch) */
.switch-label {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: #34495e; /* Color de fondo cuando está desactivado */
  display: block;
  border-radius: 25px;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}

/* El círculo del switch (el "toggle") */
.switch-label .switch-toggle {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-color: #f7f7f7;
  border-radius: 19px;
  transition: all 0.2s ease-in-out;
}

/* Estilos cuando el checkbox está activado (chequeado) */
.switch-checkbox:checked + .switch-label {
  background: #3498db; /* Color de fondo cuando está activado */
}

.switch-checkbox:checked + .switch-label .switch-toggle {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

/* Estilos para el estado deshabilitado (opcional) */
.switch-checkbox:disabled + .switch-label {
  background-color: #7f8c8d; /* Color gris para deshabilitado */
  cursor: not-allowed;
}

.switch-checkbox:disabled:checked + .switch-label {
  background-color: #2ecc71; /* Un color diferente para deshabilitado y activado */
}

.switch-checkbox:disabled + .switch-label .switch-toggle {
  background-color: #bdc3c7; /* Color del círculo para deshabilitado */
}

.switch-text {
    padding-left: 20px;
}